@import "./scss/base/base";

@font-face {
  font-family: 'gilroy';
  src: url("./assets/fonts/gilroy-bold/gilroy-bold-webfont.woff2") format('woff2'),
    url("./assets/fonts/gilroy-bold/gilroy-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  font-family: 'gilroy';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}